s2and/data/production_model_v*.pickle filter=lfs diff=lfs merge=lfs -text
s2and/data/production_model_v*.pkl filter=lfs diff=lfs merge=lfs -text
s2and/data/production_model_v*/** filter=lfs diff=lfs merge=lfs -text
